@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
  background-color: #c77dff;
} */
/* background-color: #3a86ff;  */

body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* button {
  background-color: #9d4edd;
  color: #fff;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
} */
