.changePasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.successMessage {
  color: green;
  margin-bottom: 10px;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}

.inputGroup {
  display: column;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #777;
  font-size: 18px;
  top: 10px;
}

.eyeIcon:hover {
  color: #000;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.changeButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.changeButton:hover {
  background-color: #0056b3;
}
